.names{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3%;
}

.name{
    display: grid;
    grid-template-rows: 50% 50%;
}

.pt35
{
    font-size: 35pt;    
}

p{
    margin: none;
}